<!-- templates/500.twig -->
{% include 'includes/header.html' %}
<div>
  <div class="container">
    <div class="row">
        <h1> 500 </h1>
        <h4> You have not the necessary permissions to be here. </h1>
    </div>
  </div>
</div>
{% include 'includes/footer.html' %}
